<h1>Leaderboard</h1>

<div class="my-2">
  <%= render(CardComponent.new) do %>
    <% @elos.each_with_index do |(user, elo), index| %>
      <p>
        <%= index + 1 %>.
        <%= user.name %>:
        <%= elo.round %>
      </p>
    <% end %>
  <% end %>
</div>
