<%= turbo_frame_tag :elo do %>
  <div
    data-controller="elo-chart"
    data-action="resize@window->elo-chart#resize"
    data-elo-chart-data-value="<%= @data.to_json %>"
    class="w-auto h-[400px] my-4"
  ></div>
<% end %>
