<%= turbo_frame_tag :elo do %>
  <div
    data-controller="elo-chart"
    data-action="resize@window->elo-chart#resize"
    data-elo-chart-data-value="<%= @data.to_json %>"
    class="my-4 h-[400px] w-auto"
  ></div>
<% end %>
