<h1>Forgot password?</h1>

<div class="my-2">
  <%= render(CardComponent.new) do %>
    <%= form_with url: password_resets_path do |form| %>
      <div class="flex flex-col gap-2">
        <div>
          <%=
            form.email_field :email_address,
                             class: "w-full rounded-lg bg-slate-800",
                             required: true,
                             autofocus: true,
                             autocomplete: "username",
                             placeholder: "Enter your email address",
                             value: params[:email_address]
          %>
        </div>

        <div>
          <%= render(SubmitComponent.new(form, text: "Email reset instructions")) %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
