<div data-controller="modal">
  <dialog
    id="<%= @id %>"
    class="
      starting:open:opacity-0 w-3xs starting:open:-translate-y-1/4 absolute inset-1/2 -translate-x-1/2 translate-y-0
      bg-transparent text-white opacity-100 transition duration-500 backdrop:bg-gray-800/70
    "
    data-modal-target="dialog"
    data-action="click->modal#close"
    data-turbo-permanent
  >
    <div class="size-full" data-action="click->modal#stopClickPropagation">
      <%= body %>
    </div>
  </dialog>
  <div data-action="click->modal#show">
    <%= opener %>
  </div>
</div>
