<h1>Edit game</h1>

<%= render "form", game: @game %>

<% if policy(@game).destroy? %>
  <%=
    button_to "Delete game",
              @game,
              method: :delete,
              class: "cursor-pointer rounded-lg bg-red-700 px-4 py-2 font-bold hover:bg-red-600",
              data: {
                turbo_confirm: "Are you sure?",
              }
  %>
<% end %>
