<h1>Edit game</h1>

<%= render "form", game: @game %>

<% if policy(@game).destroy? %>
  <%=
    button_to "Delete game",
              @game,
              method: :delete,
              class: "py-2 px-4 bg-red-700 hover:bg-red-600 cursor-pointer rounded-lg font-bold",
              data: {
                turbo_confirm: "Are you sure?",
              }
  %>
<% end %>
