<%= turbo_stream_from :games %>
<% @games.each do |game| %>
  <%= turbo_stream_from game %>
<% end %>

<h1>All games</h1>

<% if @games.none? %>
  <p>There are not games yet.</p>
  <% if policy(Game).create? %>
    <%= link_to "Create a new one.", %i[new game] %>
  <% end %>
<% end %>

<%= render partial: "games/games", locals: { games: @games, user: nil } %>
