<% if flash[:alert] %>
  <div class="my-2">
    <%= render(CardComponent.new) do %>
      <div class="text-red-500 text-center">
        <%= flash[:alert] %>
      </div>
    <% end %>
  </div>
<% end %>

<% if flash[:notice] %>
  <div class="my-2">
    <%= render(CardComponent.new) do %>
      <div class="text-green-500 text-center">
        <%= flash[:notice] %>
      </div>
    <% end %>
  </div>
<% end %>
